[Desktop Entry]
Name=QtSerialTerminal
GenericName=Qt Serial Terminal
Comment=A Qt-based serial terminal
Exec=qtserterm
Icon=terminal
Type=Application
Terminal=false
Categories=Development;
